*{
    color: white;
}
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-color: #333333;
    background-blend-mode: multiply;
    background-size: cover;
    animation: backgroundAnim 90s ease-in-out infinite alternate;
}
@keyframes backgroundAnim {
    0% {background-image: url(images/backgroundImages/code-g29b708675_1920.jpg);}
    33% {background-image: url(images/backgroundImages/code-gd2cf8fc37_1920.jpg);}
    66% {background-image: url(images/backgroundImages/coding-g25e9a703b_1920.jpg);}
    100% {background-image: url(images/backgroundImages/technology-g304bc01ed_1920.jpg);}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
.main {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 60% 20%;
    justify-items: center;
    align-items: center;
    height: 97%;
    width: 100%;
}
.main a {
    border-radius: 50%;
}
.one {
    grid-row-start: 1;
    grid-column-start: 2;
    position: relative;
    width: 50%;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 1.5s;
}
.image {
    border: 3px solid rgb(184, 229, 255);
    border-radius: 50%;
    background-color: #eeeeee;
    display: block;
    width: 80px;
    height: auto;
    opacity: .4;
}

.overlay {
    position: absolute;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 80px;
    opacity: .7;
    transition: .5s ease;
    background-color: #eeeeee;
    border: 2px solid rgb(184, 229, 255);
  }
  
  .one:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: black;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
  
.two {
    grid-row-start: 1;
    grid-column-start: 4;
    position: relative;
    width: 50%;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 1s;
}
.two:hover .overlay {
    opacity: 1;
  }
.three {
    grid-row-start: 2;
    grid-column-start: 1;
    position: relative;
    width: 50%;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2s;
}
.three:hover .overlay {
    opacity: 1;
  }
.four {
    grid-row-start: 2;
    grid-column-start: span 3;
    animation: fadeIn 1s linear forwards;
}
.four p {
    text-align: center;
    font-size: 1.5em;
}
.four img {
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    border-radius: 50%;
    border: 5px solid rgb(0, 162, 255);
    transition: .5s;
}
.four img:hover {
    transform: scale(1.1);
    border-color: #bffbff;
    border-radius: 1em;
}
.five {
    grid-row-start: 2;
    grid-column-start: 5;
    position: relative;
    width: 50%;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 0.5s;
}
.five:hover .overlay {
    opacity: 1;
  }
.six {
    grid-row-start: 3;
    grid-column-start: 2;
    position: relative;
    width: 50%;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}
.six:hover .overlay {
    opacity: 1;
  }
.seven {
    grid-row-start: 3;
    grid-column-start: 4;
    position: relative;
    width: 50%;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 3s;
}
.seven:hover .overlay {
    opacity: 1;
  }
footer {
    bottom: 0;
    text-align: center;
}

@media only screen and (max-width: 500px){
    .image {
        width: 50px;
    }
    .overlay {
        width: 50px;
    }
    .text {
        font-size: .8em;
    }
    .four img {
        height: 150px;
    }
    .four p {
        font-size: 1.2em;
    }
}